<html>
    <head>
        <title>NewsWatch: Google Reader access authorization</title>
    </head>
    <body>
        <h1>Please authorize NewsWatch</h1>
        <p>NewsWatch needs your authorization to access your Google Reader subscriptions and news items. Follow the link below
        to confirm the access to Google services. You can later revoke the authorization from your Settings.</p>
        <p><a href="{{ authurl }}">I would like to authorize NewsWatch to access my Google Reader account.</a></p>
    </body>
</html>